################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KjosAssignment5/.vs/KjosAssignment5/FileContentIndex
/.vs/CSCI213Assignment5/FileContentIndex/07fec045-28f4-4624-9ec6-6cc593ead323.vsidx
